<% layout('layout/boilerplate') %>
    <h1>New ToDo</h1>
    <form action="/" method="post">
        <div>
            <label for="todo">ToDo:</label>
            <input type="text" name="todo" id="todo">
        </div>
        <button>Add</button>
    </form>