<% layout('layout/boilerplate') %>
    <h1>ToDo List</h1>
    <div class="mb-3" id="list">
        <i>Loading Data...</i>
    </div>
    <div class="mb-3">
        <a class="btn btn-success" href="/new">Add ToDo</a>
    </div>

    <script>

        async function handleDeleteClick(id) {
            await axios.delete(`/${id}/`);
            window.location.href = '/';
        }

        async function handleEditClick(id) {
            window.location.href = `/${id}/edit`;
        }

        (async function getList() {
            const { data } = await axios.get("/");
            const { todos } = data;
            const list = document.getElementById("list");
            list.innerHTML = "";

            if (!todos || todos.length === 0) {
                const i = document.createElement("i");
                i.appendChild(document.createTextNode("No ToDos. Well Done!"));
                list.append(i);
                return;
            }

            const ul = document.createElement("ul");
            ul.classList.add("list-group");
            list.appendChild(ul);
            todos.forEach(todo => {
                const li = document.createElement("li");
                li.classList.add("list-group-item", "d-flex", "justify-content-between");
                ul.appendChild(li);

                const content = document.createElement("div");
                content.classList.add("my-auto");
                content.innerText = todo.content;
                li.appendChild(content);

                const buttons = document.createElement("div");
                buttons.classList.add("my-auto");
                li.appendChild(buttons);

                const edit = document.createElement("button");
                edit.classList.add("btn", "btn-info");
                edit.innerText = "EDIT";
                edit.onclick = () => { handleEditClick(todo.id) };
                buttons.appendChild(edit);

                const delete_btn = document.createElement("button");
                delete_btn.classList.add("btn", "btn-danger");
                delete_btn.innerText = "DELETE";
                delete_btn.onclick = () => { handleDeleteClick(todo.id) };
                buttons.appendChild(delete_btn);
            });
        })();
    </script>